<?xml version="1.0"?>

<model>
  <name>TurtleBot3_Burger_velodyne</name>
  <version>2.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Taehun Lim(Darby)</name>
    <email>thlim@robotis.com</email>
  </author>

  <description>
    TurtleBot3 Burger velodyne
  </description>
</model>
